Looking into other datasets in the raw download, for potential features to use.

In [1]:
# importing utility functions
import pandas as pd
import numpy as np
import os
import sys

#Ignore Warnings
import warnings
warnings.filterwarnings("ignore")

%load_ext autoreload
%autoreload 2

module_path = os.path.abspath(os.path.join(os.pardir,'src'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from nb_modules import cleaning_mod as cl

### Household Demographics

In [3]:
household_demo = pd.read_csv('../data/extracted/eq_data/csv_household_demographics.csv')

In [4]:
household_demo.columns

Index(['household_id', 'district_id', 'vdcmun_id', 'ward_id',
       'gender_household_head', 'age_household_head', 'caste_household',
       'education_level_household_head', 'income_level_household',
       'size_household', 'is_bank_account_present_in_household'],
      dtype='object')

In [6]:
hh_post_eq = pd.read_csv('../data/extracted/eq_data/csv_household_earthquake_impact.csv')

In [7]:
hh_post_eq.columns

Index(['household_id', 'district_id', 'vdcmun_id', 'ward_id',
       'shelter_condition_household_post_eq', 'residence_household_pre_eq',
       'residence_household_post_eq', 'household_eq_id_type',
       'has_death_occurred_last_12_months', 'count_death_last_12_months',
       'has_injury_loss_occurred_last_12_months',
       'count_injury_loss_last_12_months',
       'has_education_drop_occurred_last_12_months',
       'count_education_drop_last_12_months',
       'has_pregnancy_treatment_drop_occurred_last_12_months',
       'count_pregnancy_treatment_drop_last_12_months',
       'has_vaccination_drop_occurred_last_12_months',
       'count_vaccination_drop_last_12_months',
       'has_occupation_change_occurred_last_12_months',
       'count_occupation_change_last_12_months',
       'residence_district_household_head_pre_eq',
       'residence_district_household_head_post_eq', 'is_recipient_rahat_15k',
       'is_recipient_rahat_10k', 'is_recipient_rahat_200k',
       'is_recipient_rahat_social_security_3k', 'is_recipient_rahat_none',
       'is_ineligible_rahat'],
      dtype='object')

In [9]:
pd.set_option('display.max_columns', None )
hh_post_eq.head()

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,has_injury_loss_occurred_last_12_months,count_injury_loss_last_12_months,has_education_drop_occurred_last_12_months,count_education_drop_last_12_months,has_pregnancy_treatment_drop_occurred_last_12_months,count_pregnancy_treatment_drop_last_12_months,has_vaccination_drop_occurred_last_12_months,count_vaccination_drop_last_12_months,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
0,12010100001101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1,1,0,0,0,0
1,12010100002101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
2,12010100003101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
3,12010100004101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0
4,12010100005101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0,0,0,0,1,0

In [10]:
hh_resources = pd.read_csv('../data/extracted/eq_data/csv_household_resources.csv')

In [11]:
hh_resources.columns

Index(['household_id', 'district_id', 'vdcmun_id', 'ward_id',
       'source_water_pre_eq', 'source_water_post_eq',
       'source_cooking_fuel_pre_eq', 'source_cooking_fuel_post_eq',
       'source_light_pre_eq', 'source_light_post_eq', 'type_toilet_pre_eq',
       'type_toilet_post_eq', 'has_asset_land_pre_eq', 'has_asset_tv_pre_eq',
       'has_asset_cable_pre_eq', 'has_asset_computer_pre_eq',
       'has_asset_internet_pre_eq', 'has_asset_telephone_pre_eq',
       'has_asset_mobile_phone_pre_eq', 'has_asset_fridge_pre_eq',
       'has_asset_motorcycle_pre_eq',
       'has_asset_four_wheeler_family_use_pre_eq',
       'has_asset_four_wheeler_commercial_use_pre_eq', 'has_asset_none_pre_eq',
       'has_asset_land_post_eq', 'has_asset_tv_post_eq',
       'has_asset_cable_post_eq', 'has_asset_computer_post_eq',
       'has_asset_internet_post_eq', 'has_asset_telephone_post_eq',
       'has_asset_mobile_phone_post_eq', 'has_asset_fridge_post_eq',
       'has_asset_motorcycle_post_eq',
       'has_asset_four_wheeler_family_use_post_eq',
       'has_asset_four_wheeler_commercial_post_eq', 'has_asset_none_post_eq'],
      dtype='object')

In [12]:
hh_resources.head()

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,type_toilet_pre_eq,type_toilet_post_eq,has_asset_land_pre_eq,has_asset_tv_pre_eq,has_asset_cable_pre_eq,has_asset_computer_pre_eq,has_asset_internet_pre_eq,has_asset_telephone_pre_eq,has_asset_mobile_phone_pre_eq,has_asset_fridge_pre_eq,has_asset_motorcycle_pre_eq,has_asset_four_wheeler_family_use_pre_eq,has_asset_four_wheeler_commercial_use_pre_eq,has_asset_none_pre_eq,has_asset_land_post_eq,has_asset_tv_post_eq,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
0,12010100001101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,12010100002101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
2,12010100003101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,12010100004101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
4,12010100005101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Flush-out lavatory with septic tank,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0

In [13]:
indiv_demo = pd.read_csv('../data/extracted/eq_data/csv_individual_demographics.csv')

In [14]:
indiv_demo.head()

,individual_id,district_id,vdcmun_id,ward_id,gender_individual,age_individual,presence_in_household,disability_individual,has_registered_birth,education_level_individual,marital_status_individual
0,12010100001101001,12,1207,120703,Male,31,Mostly Present,No,NaN,Illiterate,Married
1,12010100001101002,12,1207,120703,Female,58,Mostly Present,No,NaN,Illiterate,Married
2,12010100001101003,12,1207,120703,Male,15,Mostly Present,No,NaN,Class 7,Not Married
3,12010100002101001,12,1207,120703,Female,62,Mostly Present,No,NaN,Illiterate,Widow/Widower
4,12010100002101002,12,1207,120703,Male,23,Not present-Abroad,No,NaN,Class 6,Married

In [15]:
indiv_ss = pd.read_csv('../data/extracted/eq_data/csv_individual_social_security.csv')

In [16]:
indiv_ss.head()

,individual_id,district_id,vdcmun_id,ward_id,has_social_security_elder_citizen,has_social_security_child_security,has_social_security_extinct_caste,has_social_security_single_woman,has_social_security_handicap,has_social_security_pension,has_social_security_other,has_social_security_not_applicable,has_social_security_none
0,12010100001101001,12,1207,120703,0,0,0,0,0,0,0,1,0
1,12010100001101002,12,1207,120703,0,0,0,0,0,0,0,1,0
2,12010100001101003,12,1207,120703,0,0,0,0,0,0,0,1,0
3,12010100002101001,12,1207,120703,0,0,0,1,0,0,0,0,0
4,12010100002101002,12,1207,120703,0,0,0,0,0,0,0,1,0

In [17]:
mapping = pd.read_csv('../data/extracted/eq_data/mapping.csv')

In [18]:
mapping.head()

       individual_id    household_id   building_id
0  12010200004101001  12010200004101  120102000041
1  12010200004101002  12010200004101  120102000041
2  12010200004101003  12010200004101  120102000041
3  12010200004101004  12010200004101  120102000041
4  12010200004101005  12010200004101  120102000041

In [19]:
cat_mapping = pd.read_csv('../data/extracted/eq_data/ward_vdcmun_district_name_mapping.csv')

In [20]:
cat_mapping.head()

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga